<section class="blocks flex">
    <div class="block block1">
        <div class="img">
            <img src="../../assets/1.png" alt="">
        </div>
        <div class="title flex">
            <p>Angular list of prohibited words</p>
        </div>
        <div class="card-bottom flex">
            <button class="btn-details flex" [routerLink]="[ '/works/cenzor' ]">details</button>
        </div>
    </div>
    <div class="block block2">
        <div class="img">
            <img src="../../assets/2.png" alt="">
        </div>
        <div class="title flex">
            <p>Angular task list</p>
        </div>
        <div class="card-bottom flex">
            <button class="btn-details flex" [routerLink]="[ '/works/tasklist' ]">details</button>
        </div>
    </div>
    <div class="block block3">
        <div class="img">
            <img src="../../assets/3.png" alt="">
        </div>
        <div class="title flex">
            <p>Angular users list</p>
        </div>
        <div class="card-bottom flex">
            <button class="btn-details flex" [routerLink]="[ '/works/userlist' ]">details</button>
        </div>
    </div>
</section>
